beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
deep-translator==1.11.4
idna==3.7
lingua-language-detector==2.0.2
markdown-it-py==3.0.0
mdurl==0.1.2
polib==1.2.0
Pygments==2.18.0
requests==2.32.2
rich==13.7.1
rich-click==1.8.2
simple-term-menu==1.6.4
soupsieve==2.5
termcolor==2.3.0
typing_extensions==4.12.0
urllib3==2.2.1
yaspin==3.0.2
